/* add your styles here */

/*#portfolio .portfolio-item .primary,
#portfolio .portfolio-item .secondary{
  position: absolute;
  transition: all 1s ease;
}

#portfolio .portfolio-item .secondary{
  opacity: 0;
}

#portfolio .portfolio-item .secondary:hover{
  opacity: 1;
}

#portfolio .portfolio-item .primary:hover{
  opacity: 0;
}*/

#portfolio .portfolio-item .primary,
#portfolio .portfolio-item .secondary{
  position: absolute;
}

#portfolio .portfolio-item .secondary:hover{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#portfolio .portfolio-item .primary:hover{
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
