#portfolio .portfolio-item .primary,
#portfolio .portfolio-item .secondary{
  position: absolute;
  transition: all 1s ease;
  }

#portfolio .portfolio-item:hover .primary{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }


#portfolio .portfolio-item:hover .secondary{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.secondary{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
